* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #eee;
  --light-gray: #999;
  --gray: #555;
  --interface: #333;
  --header-footer: #001b30;
  --edge-gray: #292929;
  --dark-gray: #111;
  --black: #000;
  --highlight: #add8e6;
  --silver: #e2dcdc;
  --blue: #3f77cc;
  font-size: 62.5%;
}

body {
  background-color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

header {
  height: 8.5rem;
  width: 100vw;
  min-width: 100rem;
  background-color: var(--header-footer);
  border-bottom: 1px solid var(--silver);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  font-style: italic;
}

.dash {
  height: 1px;
  width: 30rem;
  background-color: var(--white);
}

main {
  height: calc(100vh - 20rem);
  min-height: 76rem;
}

.piano-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.not-playable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.5;
  max-height: 50rem;
}

.not-playable.left {
  align-items: flex-end;
}

.not-playable.left .black-keys {
  right: -2.4rem;
}

.not-playable.right {
  align-items: flex-start;
}

.not-playable.right .black:nth-child(2) {
  margin-right: 0;
}

.not-playable.right .black:nth-child(3) {
  margin-right: 10rem;
}

.piano {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 50rem;
  min-width: 100rem;
}

.key {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.3rem;
  font-style: italic;
  cursor: pointer;
}

.white-keys {
  display: flex;
}

.white {
  border: 3px solid var(--gray);
  border-top: none;
  background-color: var(--white);
  width: 10rem;
  height: 50rem;
  padding-bottom: 2.5rem;
}

.white.active {
  border: 1px solid var(--gray);
  border-top: none;
  padding-bottom: 2rem;
}

.white.active.highlight {
  background-color: var(--highlight);
}

.black-keys {
  display: flex;
  gap: 5rem;
  position: relative;
  top: -50rem;
  right: -7.4rem;
  max-width: fit-content;
}

.black {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--dark-gray);
  width: 5rem;
  height: 31.5rem;
  box-shadow: 15px 5px 10px var(--light-gray);
  border: 7px solid var(--black);
  outline: 3px solid var(--gray);
  border-top: 0;
  color: var(--white);
  line-height: 8rem;
}

.black.active {
  border: 3px solid transparent;
  outline: 2px solid var(--gray);
  border-top: none;
  line-height: 7.5rem;
}

.black.active.highlight {
  border: 3px solid var(--highlight);
  border-top: none;
}

.black:nth-child(2),
.black:nth-child(5) {
  margin-right: 10rem;
}

.key-edge {
  background-color: var(--edge-gray);
  width: 3.5rem;
  height: 2.7rem;
  transform: perspective(5px) rotateX(1deg);
  margin: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: 3px solid var(--edge-gray);
}

.interface {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--interface);
  color: var(--white);
  max-width: 100rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2.5rem;
  padding: 1rem;
}

.options label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.options input {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--silver);
  border-radius: 0.3rem;
  cursor: pointer;
}

.options form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.options form input {
  appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--silver);
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.options input:checked {
  background-color: var(--blue);
}

.composer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 20rem;
  padding: 1rem;
  border-right: 2px solid var(--blue);
  border-left: 2px solid var(--blue);
}

.composer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.composer form #song {
  outline: none;
  padding: 0 1rem;
  border: 2px solid var(--silver);
  background-color: var(--gray);
  color: var(--white);
  border-radius: 0.3rem;
  height: 3rem;
  width: 30rem;
  font-size: 1.6rem;
}

.composer form #song::placeholder {
  text-align: center;
  color: var(--light-gray);
}

.composer .tempo {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.composer .tempo label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.composer .tempo label input {
  appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--silver);
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.composer .tempo label input:checked {
  background-color: var(--blue);
}

button {
  background-color: var(--silver);
  color: var(--black);
  border: 2px solid var(--blue);
  border-radius: 0.3rem;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
}

button.lock {
  background-color: var(--gray);
  cursor: default;
}

.samples {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 1rem;
}

.sample {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  height: 8.5rem;
  width: 100vw;
  min-width: 100rem;
  padding: 1rem 0;
  background-color: var(--header-footer);
  border-top: 1px solid var(--silver);
  color: var(--white);
}

.footer-area {
  max-width: 100rem;
  text-align: center;
  margin: auto;
}

@media (max-width: 1110px) {
  body {
    min-width: 100rem;
    overflow-y: scroll;
  }
  header {
    min-width: 100rem;
  }
  .not-playable {
    display: none;
  }
  footer {
    min-width: 100rem;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 50%;
  }
  button {
    font-size: 1.5rem;
  }
}

@media (max-width: 825px) {
  :root {
    font-size: 40%;
  }
  button {
    font-size: 1.5rem;
  }
}
